	<!-- footer -->
	<footer>
		<!--
		<div class="footnav clearfix">
			<div class="left">
				<%if(typeof user!='undefined'&&user!=null){%>
					<a <%if(user.role=='admin'){%>href="/admin/home"<%}else{%>href="/user/home"<%}%> class="f-username">
						<%=user.userName%>
					</a>
					<a href="/logout" class="f-logout">退出登录</a>
				<%}else{%>
					<a href="/loginRedirect">支付宝登录</a>
				<%}%>
			</div>
			<div class="right">
				<a href="#">回到顶部↑</a>
			</div>
		</div>
		-->
		<div class="copyright">
			<p>Copyright © 20014 www.taoyige.com</p>
			京ICP备11043309号-8
		</div>

	</footer>
