	<!-- footer -->
	<footer>
		<div class="footnav clearfix">
			<div class="left">
				<%if(typeof user!='undefined'&&user!=null){%>
					<a <%if(user.role=='admin'){%>href="/admin/index"<%}else{%>href="/user/home"<%}%> class="f-username">
						<%=user.userName%>
					</a>
					<a href="/logout" class="f-logout">退出登录</a>
				<%}else{%>
					<a href="/login">登录</a>
				<%}%>
			</div>
			<div class="right">
				<a href="#">回到顶部↑</a>
			</div>
		</div>
		<div class="copyright">
			<p>
				Copyright © 2014 www.taoyige.com				
			</p>
			<p>
				京ICP备11043309号-8<a href="/about" target="_balnk">关于我们</a>
			</p>
			<p class="cert-logos">
				<!--可信网站图片LOGO安装开始-->
				<a href="https://ss.knet.cn/verifyseal.dll?sn=e14110411010855801c9uw000000&ct=df&a=1&pa=0.38501960411667824"
				target="_blank">
				<img src="http://rr.knet.cn/static/images/logo/cnnic.png">
				</a>
				<a href="http://si.trustutn.org/info?sn=732141104009206240821" target="_blank"><img src="http://v.trustutn.org/images/cert/bottom_small_img.png" alt="实名认证" title="实名认证"></a>
			</p>				
		</div>
	</footer>
